*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background-color: rgb(241, 21, 149);
}

ul, ol, li{
    list-style: none;
}
html, body{
    scroll-behavior: smooth;
}
header{
    background-color:rgb(241, 21, 149);
    padding: 32px;
    position: fixed;
    width: 100vw;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: white;
    padding: 8px;
    transition: 1s;
}
header nav a:hover {
    background-color: rgb(204, 212, 205);
}
.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#rosa{
    background-color: rgb(234, 122, 188);
}
#laranja{
    background-color: rgb(233, 111, 58);
}
#amarelo{
    background-color: rgb(235, 233, 97);
}
#roxo{
    background-color: rgb(131, 43, 226);
}
#azul{
    background-color: rgb(70, 83, 221);
}